header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
}

header img{
    cursor: pointer;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a{
    margin-right: 1.3em;
    font-size: 1.5em;
}

header h1{
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;

    color:  rgb(255, 81, 0);
    transition: 0.2s ease-in-out;
}

header h1:hover{
    color: rgb(255, 255, 255);
}

footer{
    background-color: rgba(202, 52, 14, 0.801);
    color: rgb(0, 0, 0);
    padding: 1%;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

footer .lol{
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
}

footer spam{
    font-weight: 300;
    cursor: pointer;
}

footer .lol:hover{
    color: rgb(255, 255, 255);
    
}